# Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Rust/Cargo
target/
**/*.rs.bk
Cargo.lock

# Build artifacts
dist/
build/
*.tsbuildinfo

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Solana
test-ledger/

# Editor directories and files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Keypairs
*keypair.json

# MacOS
.DS_Store

# MongoDB
data/db/ 